<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">
    		<Identity Name="humhub" Publisher="CN=609C3FB0-65DC-428D-9FAD-5C98EEB174D4" Version="1.0.1.0" />
	    <mp:PhoneIdentity PhoneProductId="2d2b41e1-e5fb-46a1-8f27-e286b433a918" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
    <Properties>
        <DisplayName>HumHub Community</DisplayName>
        <PublisherDisplayName>HumHub GmbH &amp; Co. KG</PublisherDisplayName>
        <Logo>images\StoreLogo.png</Logo>
    </Properties>
    <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    </Dependencies>
    <Resources>
        <Resource Language="x-generate"/>
    </Resources>
    <Applications>
        <Application Id="App" StartPage="https://community.humhub.com/dashboard">
            <uap:VisualElements DisplayName="HumHub"
              Description="Create a community of your own with HumHub, and join our community for help as well as customization tips."
              BackgroundColor="#ffffff"
              Square150x150Logo="images\Square150x150Logo.png"
              Square44x44Logo="images\Square44x44Logo.png">
                <uap:SplashScreen Image="images\SplashScreen.png" BackgroundColor="#ffffff" />
                <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" Square310x310Logo="images\Square310x310Logo.png">
                    <uap:ShowNameOnTiles>
                        <uap:ShowOn Tile="wide310x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo" />
                    </uap:ShowNameOnTiles>
                </uap:DefaultTile>
                <uap:InitialRotationPreference>
                    <uap:Rotation Preference="landscape"/>
                </uap:InitialRotationPreference>
            </uap:VisualElements>
            <uap:ApplicationContentUriRules>
                <uap:Rule Type="include" Match="https://community.humhub.com/dashboard" WindowsRuntimeAccess="all"/>
            </uap:ApplicationContentUriRules>
        </Application>
    </Applications>
    <Capabilities>
        <Capability Name="internetClient" />

        <uap:Capability Name="enterpriseAuthentication" />

    </Capabilities>
</Package>
